*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
/* body{
    max-width: 1600px;
    margin: 0 auto;
} */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight:900;
}
.color-r{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.btn:hover{
    background-color: #ed904d;
    cursor: pointer;
}
.btn-group{
    display: flex;
    gap: 20px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    /* font-weight: bold; */
    /* color: #181818; */
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
 .text-center{
    text-align: center;
 }
 .container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
 }

/* main style */
/* Navigation */
header{
    /* background-color: #FFF8F3; */
    background: url("../images/developer.png"), url(../images/header_bg.png),#FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
    /* max-width: 1600px; */
    /* margin: 0 auto; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-height: 65px; */
}
nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

/* Banner */
#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    color: #181818;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-content .btn-parent{
    display: flex;
    gap: 30px;
}
#banner img{
    max-width: 584px;
    vertical-align: bottom;
}

/* About */
#about,
#skills,
#resume{
    padding: 130px;
}
#about .about-container{
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
    color: #494949;
    font-weight: bold;
}

/* Skills */
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
    
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid #474747; */
    border-radius: 5px;
    background-color: #FFFFFF;
    max-width:267px ;
    /* max-height: 377px; */
    box-shadow: 0 6px 50px 0 #00000014;
}
.skill-box .skill-card img{
    max-width:44px ;
    /* max-height: 44px; */
    margin-bottom: 30px;
}
.skill-box .skill-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
.skill-box .skill-card p{
    /* max-width:201px ; */
    /* margin-bottom: 30px ; */
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* Resume */
#resume .resume-container{
    margin-top: 113px;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0;
}
.resume-container .section-title{
    font-size:30px ;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* Footer */
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    display: flex;
    gap: 116px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-weight: bold;
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

/* Hide */
.hide{
    display: none !important;
}

/* small  mobile device*/
@media screen and (max-width: 576px){
    .container {
        width: 95%;
    }
    .section-heading h2 {
        font-size: 30px;
    }  
    .btn-group{
        flex-wrap: wrap;
        justify-content: center;
    }
    header {
        background-color: #FFF8F3;
        background: url(../images/header_bg.png), #FFF8F3;
        background-position: bottom right;
        background-repeat: no-repeat;
    } 
    nav{
        gap: 20px;
    }
    nav .menu{
        flex-wrap: wrap;
        justify-content: center;
    }
    #banner {
        margin:20px;
        gap: 20px;
        text-align: center;
    }
    #banner .banner-image img{
        width: 100%;
    }
    #banner .banner-content h1{
        font-size: 44px;
    }
    #about,
    #skills,
    #resume {
        padding-top: 60px;
    }
    #about .about-container{
        padding: 20px;
    }
    #about .about-container .about-info{
        gap: 40px;
    }
    #skills .skills-container .skill-box,
    #about .about-container .about-info,
    footer .footer-container,
    #resume .resume-container,
    nav,
    #banner{
        flex-direction: column;
    }
    .skill-box .skill-card{
        max-width: 100%;
    }
    #resume .resume-container{
        margin-top: 60px;
    }
    .resume-card{
        margin-right: 10px;
    }
    .footer-container form input[type="text"],
    .footer-container form textarea {
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px){
    #skills .skills-container .skill-box,
    #about .about-container .about-info,
    footer .footer-container,
    #resume .resume-container,
    nav,
    #banner{
        flex-direction: column;
    }
}